<h1>Members</h1>
<form class="mb-4" action="/api/members" method="POST">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" required>
        <input type="submit" value="Add Member" class="btn btn-primary btn-block mt-4">
    </div>
</form>
<ul class="list-group">
    {{#each members}}
        <li class="list-group-item">{{this.name}} : {{this.status}}</li>
    {{/each}}
</ul>

<a href="/api/members" class="btn btn-light mt-4">Visit API </a>